
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Bold.ttf");
}
body {
    background-color: rgb(12, 10, 38);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(0, 0, 0);
}
.header {
    /*height: 95vh;*/
    height: 320px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /*clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );*/
}
.header h1{
  position: relative;
  top: 70px;
  font-size:130px;
  color: #ff77dd;
  text-shadow:
		-1px -1px 0 #412,
		 5px -1px 0 #412,
		-1px  5px 0 #412,
		 5px  5px 0 #412;
   }
}
.mbutton{
  opacity: 1;
  height:auto;

}

nav{
  float: right;
  padding: 20px;
  padding-top: 10px;
  padding-right: 80px;
  opacity: 0;
}
nav ul{
  opacity:0;
  overflow: hidden;
  width:0px;
  height:0px;
  z-index: 500px;
}
nav:hover ul{
  opacity:1;
  overflow: visible;
  width:auto;
  height:auto;
  z-index: 1px;
}
nav:hover .mbutton{
  opacity: 0.2;
}
nav a{
  color: #ee66dd;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  text-decoration:underline;
  font-weight: bolder;
  color: #ff66dd;
}
nav:hover{
  background-color: rgba(50, 25, 30, 0.4);
  padding-bottom: 50px;
}
.logo-box {
  position: relative;
    height:55px;
    top: -10px;
    border-radius: 5%;
    padding:0px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed #eee;
    box-shadow: 1px 1px 2px 3px #113;
}

.logo {
    height: 50px;
}
.topnav {
  /*background-color: #333;*/
  background: rgba(54, 28, 85, .7);
  overflow: hidden;
  width:100%;
  overflow: hidden;
  height: 70px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  /*background-color: #ff77dd;*/
  color: white;
}
a.active:hover{
  background-color: #ddd;
  color: black;
}
.main{
  padding: 20px;
  width:100%;
  overflow-x: hidden;
  background-image: url(../images/img1.png);
  background-size: cover;
  background-position: top;
}
.main:hover{
  background-image: url(../images/footer.jpg);
}
.wrapper {margin: 0 -5px;}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  padding: 0 10px;
  width: 25%;
  float: left;
}
.column:hover h2{
  text-decoration: underline;
}
.column:hover{
  box-shadow: 1px 1px 2px 3px #224;
  padding-left:5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
footer{
  padding: 0px;
  margin: 0px;
  color: #ddd;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: bottom;
}
footer a{
  color:#eee;
}
footer a:hover{
  font-weight: bold;
  color: #ff6688;
}
.footer-wrapper{
  background: rgba(54, 28, 85, .7);
  padding: 20px;
}
@media screen and (max-width: 850px) {
  .header h1{
    font-size: 100px;
  }
  .column{
    width:50%;
  }
}
@media screen and (max-width: 650px) {
  .column{
    width:100%;
    display: block;
    margin-bottom: 20px;
  }
  .column:hover{
    box-shadow: inherit;
    padding-left:0px;
  }
  .header h1{
    font-size: 90px;
    overflow: hidden;
    width:70%;
  }
  .topnav{
    opacity: 0;
    overflow: hidden;
    height: 0px;
    width: 0px;
    display: none;
  }
  nav{
    opacity: 1;
    overflow: visible;
    height:auto;
    width: auto;
    display: inline;
  }
}
@media screen and (max-width: 580px) {
  .header h1{
    font-size: 70px;
    margin-left: -10px;
    top: 30px;
  }
}
@media screen and (max-width: 460px) {
  .header h1{
    overflow: visible;
    position: absolute;
    top:160px;
    left: 15px;
  }
}
